body{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: "Comic Sans MS", cursive, sans-serif;
  }

  #loader-background {
    position: absolute;
    top: 45%;
    left:20%;
    width: 60%;
    height: 10%;
    background: rgb(66, 37, 15);
    border: 5px solid #593517;
    border-radius: 10px;
  }

  #loading-bar {
    position: absolute;
    border-radius: 10px;
    height: 100%;
    background: #DE9B26;
  }

  #gameArea {
    position: absolute;
    left:     50%;
    top:      50%;
  }

  #menu {
    position: absolute;
    z-index: 4;
    list-style-type: none;
    top: 20%;
    left: 20%;
    width: 50%;
    border: 3px solid green;
  }

  #menu > li {
    border: 1px solid red;
    padding: 10px;
    margin: 5px;
    text-align: center;
    cursor: pointer;
  }

  #menu > li:hover {
    background-color: lime;
  }

  #status-bar {
    position: absolute;
    background: rgba(255, 0, 0, 0.2);
    z-index: 4; 
    width: 100%;
    height: 10%;
  }

  #play-button,  #pause-button {
    position: absolute;
    z-index: 4;
    background: rgba(255, 0, 0, 0.2);
    right:5%;
    bottom: 2%;
    width: 10%;
    height: 10%;
    text-align: center;
    font-size: 4vw;
  }

   
  .tower-nest {
    /* the places available for tower building */
    position: absolute;
    width: 8%;
    height: 8%;
    z-index: 3;
    background: url('../images/nest.png');
    background-repeat:no-repeat;
    background-size:cover;
  }

  

  .tower-ui {
    /* the tower is in the popup. The user has to click to build it */
    display: inline;
    z-index: 3;
    padding: 1%;
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
  }

  .tower {
    /*the tower is built  */
    position: absolute;
    bottom: 0;
    z-index: 2;
  }

  canvas { position: absolute; }
  #game-layer { z-index: 3; }
  #background-layer { z-index: 1; }


  /* POPUP */
/* Popup container - can be anything you want */
/* .popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  } */
  
  /* The actual popup */
  .popup .popup-menu {
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    /* margin-left: -80px; */
  }
  
  /* Popup arrow */
  /* .popup .popup-menu::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  } */

  
  
  /* POPUP END */