body{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: "Comic Sans MS", cursive, sans-serif;
  }
  #gameArea {
    position: absolute;
    left:     50%;
    top:      50%;
  }

  #menu {
    position: absolute;
    z-index: 4;
    list-style-type: none;
    top: 20%;
    left: 20%;
    width: 50%;
    border: 3px solid green;
  }

  #menu > li {
    border: 1px solid red;
    padding: 10px;
    margin: 5px;
    text-align: center;
    cursor: pointer;
  }

  #menu > li:hover {
    background-color: lime;
  }

  #status-bar {
    position: absolute;
    background: rgba(255, 0, 0, 0.2);
    z-index: 3; 
    width: 100%;
    height: 10%;
  }

  .tower-nest {
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left:50%;
    width: 6%;
    height: 6%;
    border: 1px solid red;
    z-index: 4;
  }

  canvas { position: absolute; }
  #game-layer { z-index: 2; }
  #background-layer { z-index: 1; }


  /* POPUP */
/* Popup container - can be anything you want */
/* .popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  } */
  
  /* The actual popup */
  .popup .popup-menu {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popup-menu::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }
  /* POPUP END */